@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=Poppins:wght@500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.heading{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    width: 463px;
    height: 36px;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: black;

}
.prebook{
    display: flex;
    justify-content: space-between;
}
.product-prebook-info, .influencer-title{
    width: 582px;
}
.prebook-button{
    display: flex;
    background-color: #e02c6d;
    width: 150px;
    padding: 10px 24px;
    border-radius: 41px;
    gap: 8px;
}
.prebook-button a{
    color: white;
    text-decoration: none;

}
.prebook-button .arow-icon{
    color: white;
}
.product-prebook-info nav a{
    text-decoration: none;
    color: white;
}
.prebook-product-iamge{
    width: 50%;
}
.product-prebook{
    width: 50%;
}
